body, h1, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #3d3c3c;
}

.header {
    background:linear-gradient(#01346a,#4bb3e0);
    color: white;
    padding: 10px 0;
}
.cabecalho .logo img{
    display: flex;
    height: 70px;
    width: 200px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
    font-size: 24px;
}

.nav {
    flex-grow: 1;
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-list a {
    color: white;
    font-size: 16px;
}
.nav-list :hover{
    background-color: #0056b3;
    transition: background-color 0.3s;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.login-button, .register-button {
    color: white;
    background-color: #0056b3;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.login-button:hover, .register-button:hover {
    background-color: #5fa9ee;
}

.register-button {
    background-color: #0056b3;
}

.register-button:hover {
    background-color: #5fa9ee;
}

.intro h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    color: #0056b3;
    margin-top: 25px;
    position: relative;
    text-align: center;
}

.intro p {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #c4c1c1;
    text-align: center;
}

main #container_main .banners{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main #container_main .banners #banner1{
    display: flex;
    width: 800px;
    height: 700px;
    cursor: pointer;
    margin-left: 30px;
    border-radius: 15px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}
main #container_main .banners #banner1:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
 }

main #container_main .banners #banner2{
    margin-left: 80px;
    height: 300px;
    width: 700px;
    display: flex;
    justify-content: end;
    cursor: pointer;
    border-radius: 15px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}
main #container_main .banners #banner2:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
 }

main #container_main .banners #banner3{
    cursor: pointer;
    height: 300px;
    width: 700px;
    border-radius: 15px;
    position: absolute;
    margin-top: 370px;
    margin-left: 910px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}
main #container_main .banners #banner3:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
 }